asgiref==3.4.1
Django==3.2.9
django-filter==21.1
djangorestframework==3.12.4
djangorestframework-simplejwt==5.0.0
psycopg2==2.9.1
PyJWT==2.3.0
python-http-client==3.3.3
pytz==2021.3
sendgrid==6.9.0
sendgrid-python==0.1.1
sqlparse==0.4.2
starkbank-ecdsa==1.1.1
