
<html lang="en">
{% load bootstrap5 %}
<head>

    <title> home page</title></head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Home</h1>
            </div>
            <div>
                <a href="/api/products" class="btn btn-primary">All Product</a>
                <br />
                <br />
                <a href="{% url 'api-docs' %}" class="btn btn-primary">Api dashboard</a>
            </div>

        </div>
    </div>
</body>
</html>
